ion-input {
  padding-left: 10px;
  font-size: 35px;
  font-weight: bold;
}
ion-text {
  text-align: right;
  font-size: 13px;
  font-weight: bold;
}
ion-button{
  font-weight: bold;
}


.div-display-inline{
display: inline;
margin-bottom: 10px;
}

.display-grid{
display: grid;

}

.verticalBottom{
  align-self: flex-end;
  text-align: right !important;
}

.wrap-text {
white-space:normal;
overflow-wrap: anywhere;
}
.edit-button{
background: none;
}

ion-header {
  background: transparent;
  ion-item {
    --background: transparent;
    ion-avatar {
      --background: transparent;
    }
  }
}

ion-content {
  * {
    font-family: lato;
  }

  ion-grid {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(10vh);
    padding-bottom: 8vh;
    ion-row {
      justify-content: center;
      ion-col {
          flex-wrap: nowrap;
          text-align: center;
        ion-note{
          color: white;
        }
        div{
          margin-top: 5%;
        }
      }
    }
    ion-list {
      background: transparent;
      ion-item {
        width: 95%;
        margin: auto;
        border-radius: 5px;
        margin-bottom: 2vh;
        p {
          font-size: 0.65rem;
        }
        ion-text {
          font-weight: 800;
        }
      }
    }
  }
}

.back{
  text-align: start;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-weight: 800;
  background-color: white;

}


ion-button[color=dark]{
  text-transform: initial;
}

ion-list-header{
margin-top: 2%;
text-transform: initial;
font-size: 22px;
font-weight: 600;
min-height: 20px;
}

