ion-header {
    background: transparent;
    ion-item {
      --background: transparent;
      ion-avatar {
        --background: transparent;
      }
    }
  }

  .splash{
    color:white;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    align-items: center;
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background: url('../../../assets/img/splash.gif') fixed;;
    background-color: rgba(0,0,0,0.98); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

  }
  .splash-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60%;
  }
  .splash-spinner{
    display: contents;
  }

  img.opac {
    opacity: 0.8;
    filter: alpha(opacity=80); /* IE8 및 그 이하 버전용 */
    }
    
  ion-content {
    * {
      font-family: lato;
    }

    ion-grid {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(10vh);
      padding-bottom: 8vh;
      ion-row {
        justify-content: center;
        ion-col {
            flex-wrap: nowrap;
            text-align: center;
          ion-label {
            ion-note {
              font-size: 0.7rem;
            }
            ion-chip {
              ion-label {
                font-size: 1.4rem;
                font-weight: bold;
                letter-spacing: 0.5px;
                text-shadow: 1px 1px 1px var(--ion-color-medium);
              }
            }
            b {
              font-size: 1.2rem;
            }
          }
          ion-button {
            height: 3em !important;
            transform: translateY(10%);
            text-transform: none;
            ion-text {
              font-size: 0.7rem;
              font-weight: bold;
              text-shadow: 1px 1px 1px var(--ion-color-medium);
            }
            ion-icon {
              font-size: 1rem;
            }
          }
          ion-card {
            box-shadow: -1px 11px 13px -6px rgb(87, 86, 86);
            border-radius: 10px !important;
            margin: 10px 0;
            ion-thumbnail {
              width: 8vh;
              height: 8vh;
              border-radius: 20px;
              img {
                width: 4vh;
                height: 4vh;
                transform: translateY(50%);
              }
            }
            ion-card-content {
              ion-label {
                font-weight: bold;
                text-shadow: 1px 1px 1px var(--ion-color-medium);
                letter-spacing: 0.5px;
              }
            }
          }
          div{
            margin-top: 5%;
          }
        }
      }
      ion-list {
        background: transparent;
        ion-item {
          width: 95%;
          margin: 10px 0;
          border-radius: 5px;
          margin-bottom: 2vh;
          p {
            font-size: 0.65rem;
          }
          ion-text {
            font-weight: bold;
          }
        }
      }
    }
  }



ion-button[color=dark]{
    text-transform: initial;
}

ion-list-header{
  margin-top: 2%;
  text-transform: initial;
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}