ion-input {
	padding-left: 10px;
    font-size: 35px;
    font-weight: bold;
}
ion-text {
    text-align: right;
	padding-left: 10px;
    font-size: 35px;
    font-weight: bold;
}
ion-button{
    font-weight: bold;
}
.verticalBottom{
    align-self: flex-end;
    text-align: right !important;
}
.receiverInput{
    font-size: 15px;
    font-weight: normal;
}