ion-header {
  background: transparent;
  ion-item {
    --background: transparent;
    ion-avatar {
      --background: transparent;
    }
  }
}

ion-content {
  * {
    font-family: lato;
  }

  ion-grid {
    ion-list {
      background: transparent;
    }
  }
}

ion-button{
  font-weight: bold;
  font-size: 15px;
}

ion-list-header{
  background: transparent;
  margin-top: 2%;
  text-transform: initial;
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
  color:white;
  margin-bottom: 10px;
}
