<ion-content  [fullscreen]="true" color="light">
  <div class="main-header">
    <ion-avatar slot="start" (click)="header.openMenu()">
      <img class="ion-margin-horizontal ion-margin-top" src="../../../assets/img/unicorn.png">
    </ion-avatar>
  
  <ion-grid>
    <ion-row class="ion-margin-horizontal ion-margin-top">
      <ion-col>
        <ion-list>
          
          <ion-item>
            <div>
              <ion-button color="primary" fill="clear" (click)="navigation.goBack()">Back</ion-button>
            </div>
            <ion-label position="floating">To: </ion-label>
            <ion-input type="text" (ionChange)='isValidAddress($event.target.value)' [(ngModel)]="receiver"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
            Recently Sent 
          </ion-list-header>
          <ion-item *ngFor="let item of recentlySentAddresses" (click)="goToConfirmPage(item)">
            <ion-label class="ion-text-wrap">{{ item }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
