
<ion-content fullscreen>
  <div class="main-header">
    <ion-avatar slot="start" class="ion-margin-horizontal" >
    </ion-avatar>
 
  <ion-card>
    <img src="../../../assets/img/unicorn.png" />
    <ion-card-header>
      <ion-card-subtitle>We've been waiting for you</ion-card-subtitle>
      <ion-card-title>WELCOME</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">PASSWORD</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
        <ion-button color="primary" expand="block" shape="round" size="full" class="ion-margin-top">잠금 해제</ion-button>
      <div class="flex-center">
        <ion-button color="primary" expand="block" shape="round" fill="clear" size="full">비밀번호를 잊으셨나요?</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>

